/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.container {
  background-color: #00B0FF;
  height: 100%;
  position: relative;
  width: 100%;
}

.sun {
  height: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  width: 300px;
}

.center {
  background-color: #FFEB3B;
  border-radius: 50%;
  height: 150px;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
  position: absolute;
  top: 50%;
  width: 150px;
}

.top-left {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #FFEB3B transparent transparent transparent;
  border-width: 50px 50px 0 0;
  left: 15%;
  position: absolute;
  top: 15%;
}

.top {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent #FFEB3B transparent;
  border-width: 0 35px 35px 35px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  top: 0;
}

.top-right {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent #FFEB3B transparent transparent;
  border-width: 0 50px 50px 0;
  position: absolute;
  right: 15%;
  top: 15%;
}

.right {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #FFEB3B;
  border-width: 35px 0 35px 35px;
  margin-top: -35px;
  position: absolute;
  right: 0;
  top: 50%;
}

.bottom-right {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent #FFEB3B transparent;
  border-width: 0 0 50px 50px;
  bottom: 15%;
  position: absolute;
  right: 15%;
}

.bottom {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: #FFEB3B transparent transparent transparent;
  border-width: 35px 35px 0 35px;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  position: absolute;
}

.bottom-left {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #FFEB3B;
  border-width: 50px 0 0 50px;
  bottom: 15%;
  left: 15%;
  position: absolute;
}

.left {
  border-style: solid;
  height: 0;
  width: 0;
  border-color: transparent #FFEB3B transparent transparent;
  border-width: 35px 35px 35px 0;
  left: 0;
  margin-top: -35px;
  position: absolute;
  top: 50%;
}

/*# sourceMappingURL=master.css.map */
